name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          playwright install --with-deps chromium

      - name: Install Allure
        run: |
          npm install -g allure-commandline
          echo "$(npm config get prefix)/bin" >> $GITHUB_PATH
          allure --version

      - name: Run tests
        env:
          DROXI_BOARD_ID: ${{ secrets.DROXI_BOARD_ID }}
          DROXI_API_KEY: ${{ secrets.DROXI_API_KEY }}
          DROXI_API_TOKEN: ${{ secrets.DROXI_API_TOKEN }}
          DROXI_TRELLO_EMAIL: ${{ secrets.DROXI_TRELLO_EMAIL }}
          DROXI_TRELLO_PASSWORD: ${{ secrets.DROXI_TRELLO_PASSWORD }}
          DROXI_BOARD_LINK: ${{ secrets.DROXI_BOARD_LINK }}
          
        # Running with xvfb-run to support headless=False in CI
        run: |
          xvfb-run pytest test_trello_board.py --alluredir=allure-results

      - name: Generate Allure Report
        if: always()
        run: allure generate allure-results --clean -o allure-report

      - name: Upload Allure Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report

      - name: Upload Allure Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: allure-results
